@charset "UTF-8";

/**
 * Основные стили
 **/

html {
  font-size: 16px;
  color: $black;
  background-color: #030303;
}

body {
  font-family: 'gothampro', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  @include min-max(320px, 100%, 0);
}

.wrap {
  @include min-max(320px, 1200px, 15px);
}

html {
  height: 100%;
}

.section {
  transform: translate3d(0, 0, 0);
}