.first {
  background:
          url("../img/luk-bg.svg") no-repeat left center,
          url("../img/first-screen-top.png") no-repeat center top $black;
  background-size: auto, 100%;
}

.first__wrap {
  padding-top: 1px;
  padding-bottom: 1px;
}

.first__top {
  margin: 4.1% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    background: linear-gradient(180.35deg, rgba(87, 247, 103, 0.3) 43.41%, rgba(0, 255, 56, 0.3) 81.58%, rgba(241, 0, 130, 0.3) 125.43%);
    filter: blur(100px);
    width: 184px;
    height: 184px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &::before {
    content: "";
    background: linear-gradient(180.17deg, #57F767 43.41%, #00FF38 81.58%, #F10082 125.43%);
    filter: blur(100px);
    width: 504px;
    height: 148px;
    position: absolute;
    right: 10%;
    top: 170px;
    z-index: -1;
  }
}

.first__logo {
  flex-basis: 300px;
}

.first__content {
  position: relative;
  background: url("../img/first-screen.jpg") no-repeat center top;
  background-size: cover;
  z-index: 2;
}

.first__title {
  color: $white;
  font-size: px-to-rem(34px);
  line-height: px-to-rem(38px);
  font-weight: 900;
  max-width: 700px;
  margin: 6% 39.5% 6% 0;
}

.first__server {
  position: absolute;
  right: 0;
  top: 0;
  width: 38%;
}

.first__btn {
  @include button();
  margin-right: 10px;
}

.first__btn--two {
  @include button($first, $white, false);
}

.first__play {
  position: absolute;
  left: 50%;
  top: 25%;
}