.how-to-play {
  background:
          url("../img/luk-bg-right.svg") no-repeat right bottom,
          url("../img/how-to-play-bg.jpg") no-repeat right center;
}

.how-to-play__wrap {
  padding-top: 112px;
}

.how-to-play__title {
  font-weight: 700;
  font-size: px-to-rem(45px);
  line-height: px-to-rem(55px);
  color: $white;
  text-align: center;
  margin: 20px 0;

  span {
    position: relative;
    padding-right: 80px;
    padding-left: 80px;
    display: inline-block;
    &::after {
      content: "";
      background: url("../img/title-lines.svg") no-repeat;
      width: 73px;
      height: 46px;
      position: absolute;
      right: 0;
      top: 0;
    }

    &::before {
      content: "";
      background: url("../img/title-lines.svg") no-repeat;
      width: 73px;
      height: 46px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

}

.how-to-play__block {
  display: flex;
}

.how-to-play__svg {
  flex-basis: 450px;
  flex-shrink: 0;
}

.how-to-play__step {
  margin: 10px 0;

  p {
    margin: 10px 0;
    font-size: px-to-rem(20px);
    line-height: px-to-rem(30px);
    color: $white;
    opacity: 0.8;
    &:first-child {
      font-weight: 700;
      font-size: px-to-rem(30px);
      line-height: px-to-rem(36px);
      color: $white;
    }
    span {
      color: #6C6C6C;
    }
  }
}

.how-to-play__btn {
  @include button();
  margin: 15px 0;
}

.how-to-play__btn--two {
  @include button($first, $white, false);
  margin: 15px 0;
}

@media (max-width: 990px) {

  .how-to-play {
    background: none;
  }

  .how-to-play__svg {
    flex-basis: 400px;
  }

  .how-to-play__wrap {
    padding-top: 50px;
  }

  .how-to-play__step {
    p {
      font-size: px-to-rem(16px);
      line-height: px-to-rem(20px);
      &:first-child {
        font-size: px-to-rem(24px);
        line-height: px-to-rem(28px);
      }
    }
  }
}

@media (max-width: 768px) {

  .how-to-play__svg {
    display: none;
  }

  .how-to-play__title {
    font-size: px-to-rem(32px);
    line-height: px-to-rem(36px);
    span {
      padding: 0;
      &::after, &::before {
        display: none;
      }
    }
  }

}